<div class="index">
<h3>Order list:</h3>
<%= link_to("Add Order", new_order_path) %>
	<ul>
	<% @order.each do |order|%>
		<h3><%= link_to(order.name, order_path(order)) %></h3>
		<li>
			<%= order.ordering_provider %> 
		</li>
	<% end %>
	</ul>
</div>