<div class="index">
<h1>Protocol count: <%= @protocols.size %></h1>
<ul>
	<% @protocols.each do |protocol| %>
	<li>Created @: <%= link_to(protocol.created_at, "protocols/#{protocol.id}") %></li>
	<li>Protocol data: <%= protocol.amc %></li>
	<% end %>
</ul>
</div>