<div class="index">
<h1>Protocol count: <%= @protocols.size %></h1>
<ul>
	<% @protocols.each do |protocol| %>
	<li><%= link_to(protocol.created_at, "protocols/#{protocol.id}") %> : <%= protocol.amc %></li>
	<% end %>
</ul>
</div>