body {
	margin: 0;
	overflow: scroll;
}

.topbar {
	display: flex;
	flex-wrap: nowrap;
	border: 1px solid red;
	width: 100vw;
	height: 18vh;
	color: #FF6600; 
}

.rtbar {
	display: flex;
	flex-direction: column;
	border: 1px #B2F0B2 solid;
	width: 10vw;
	height: 80vh;
	position: fixed;
	right: 0px;
	top: 22vh;
	color: #FF6600;
}

a {
	color: #00FFFF;
}

.toptile a {
	color: #FF6600;
}

.content {
	background-size: 100%;
	background-color: #707074;
	position: fixed;
	top: 22vh;
	width: 89vw; 
	border: 0.5px solid red;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: scroll;
	column-count: 1;
	color: white;
}



.code {
	margin: 0;
	padding: 0;
	overflow: auto;	
	color: white;
}

.form_ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	overflow: scroll;
	height: 60vh;
}

.index {
	display: flex;
	flex-direction: column;
	height: 74vh;
}

div {
	display: flex;
}

/**********************************
TOPTILE
***********************************/

.toptile {
	height: 20vh;
	width: 25vw;
	background: #00FFFF;
	border: 1px solid red;
	float: right;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

/**********************************
RTTILE
***********************************/

.rttile {
	width: 10vw;
	height: 33vh;
	background: #00FFFF;
	border: 1px solid red;
}

.content label {
	color: #00FFFF;
}





