body {
	margin: 0;
}

.topbar {
	display: -webkit-flex;
	flex-wrap: nowrap;
	border: 1px solid red;
	width: 100vw;
	height: 18vh;
}

.rtbar {
	display: -webkit-flex;
	flex-direction: column;
	border: 1px #B2F0B2 solid;
	width: 10vw;
	height: 80vh;
	position: fixed;
	right: 0px;
	top: 22vh;
}

a {
	color: white;
}

.content {
	background-image: image-url('evrsignup.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: blue;
	position: fixed;
	top: 22vh;
	width: 89vw;
	overflow-x: scroll;
	overflow-y: scroll; 
	border: 0.5px solid red;
	align-content: stretch;
	
}

.code {
	margin: 0;
	padding: 0;
}

/**********************************
TOPTILE
***********************************/

.toptile {
	height: 20vh;
	width: 25vw;
	background: #00FFFF;
	border: 1px solid red;
	float: right;
	overflow: auto;
}

/**********************************
RTTILE
***********************************/

.rttile {
	width: 10vw;
	height: 33vh;
	background: #00FFFF;
	border: 1px solid red;
}

.content label {
	color: white;
}



