// Place all the styles related to the meds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
	color: white;
}

body {
	background-image: image-url('evrsignup.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}

a {
 color: white;
 background-color: black;
}
a:visited {
 color: white;
}