// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: image-url('evrsignup.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}

h1 {
		text-align: center;
		color: white;
	}

.form {
	position: center;
	width: 50%;
}

.content {
	text-align: right;
	display: block;
	color: white;
}

